@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --colorPrimario:  #00669F;
    --colorSecundario: #1CD1B0;
    --colorTerciario: #f3f3f3;
    --sombra: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.discount{
    background-color: var(--colorSecundario);
    box-shadow: var(--sombra);
    height: 38px;
    font-size: 15px;
    padding: 10px;
}
.title{
    background: var(--colorPrimario);
    height: 100px;
    font-size: 40px;
    padding: 28px;
}

section{
    width: 80%;
    margin: 170px;
}

section article{
    background-color: var(--colorTerciario);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: inline-block;
    height: 530px;
    width: 300px;
    margin: 10px;
}

section article figure{
    height: 194px;
    width: 100%;
    position: relative;
}

section article div{
    text-align: center;
    font-weight: normal;
    position: relative;
}

h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 70px;
}

section article div img{
    position: absolute;
    left: 90px;
    top: -130px;
    border-radius: 50%;
}

section article div p{
    text-align: justify;
    padding: 16px;
}

a{
    display: block;
    width: 128px;
    height: 48px;
    color: white;
    background-color: var(--colorPrimario);
    font-size: 15px;
    text-decoration: none;
    margin: 10px auto;
    padding: 12px;
    border-radius: 5px;
}

.corazon{
    position: absolute;
    top: 5%;
    left: 5%;
}

.footer{
    width: 100%;
    height: 51px;
    background-color: var(--colorPrimario);
    color: white;
    font-size: 16px;
    line-height: 51px;
    padding-left: 16px;
}
